<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ostracon</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/header">Header</div>
		<div class="container">
			<div class="jumbotron" style="background-color:#FFFFFF">
				<h2 class="text-center" style="padding-top:40px;padding-bottom:30px;">Your Power Plants</h2>
				<form method="post" th:action="@{/powerPlantsForYear}" th:object="${yearSearch}">
				<h3>Select The Year To View Powerplants For</h3>
				<div class="col-sm-3 text-center">
			  	<select class="form-control" id="year-input" th:field="*{year}">
					<option class="text-center" th:each="year : ${years}"
					  			th:value="${year}" 
					  			th:text="${year}">
					 </option>
				</select>
				</div>
				<div class="col-sm-2">
					<input type="submit" value="Refresh" class="btn btn-block btn-info create-button"/>
					<br></br>
				</div>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th class="col-sm-2 text-center">Name</th>
							<th class="col-sm-1 text-center">Year</th>
							<th class="col-sm-2 text-center">Fuel Type</th>
							<th class="col-sm-1 text-center">Country</th>
							<th class="col-sm-1 text-center">City</th>
							<th class="col-sm-2 text-center">Coordinates</th>
							<th class="col-sm-1 text-center">Capacity</th>
							<th class="col-sm-2 text-center">Capacity Factor</th>
							<th class="col-sm-1 text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="powerPlant : ${powerPlants}">
							<td class="col-sm-2 text-center" th:text="${powerPlant.name}"></td>
							<td class="col-sm-1 text-center" th:text="${powerPlant.year}"></td>
							<td class="col-sm-2 text-center" th:text="${powerPlant.fuelType}"></td>
							<td class="col-sm-1 text-center" th:text="${powerPlant.country}"></td>
							<td class="col-sm-1 text-center" th:text="${powerPlant.city}"></td>
							<td class="col-sm-2 text-center" th:text="${powerPlant.coordinates}"></td>
							<td class="col-sm-1 text-center" th:text="${powerPlant.capacity}"></td>
							<td class="col-sm-2 text-center" th:text="|${powerPlant.capacityFactor}%|"></td>
							<td class="col-sm-1">
								<span class="btn-group">
					  				<a class="btn btn-success plantInfoBtn" th:id="${powerPlant.id}" data-toggle="modal" data-target="#viewPowerPlantModal">View Results</a>
					  			</span>
					  		</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	<div id="viewPowerPlantModal" class="viewPowerPlantModal modal fade" tabindex="-1" role="dialog" aria-labelledby="viewPowerPlantModal">
		<div class="replaceable">
		</div>
	</div>
	
	<script>
		$(".plantInfoBtn").click(function(){
			var plantId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "viewPowerPlant",
			 	data: {id : plantId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
	</script>

</body>
</html>