<form th:action="@{/editPowerPlant}" th:object="${powerPlantForm}" method="post">

	<input type="hidden" th:field="*{plantId}"/>
	
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" disabled="disabled"><span data-dismiss="modal" aria-hidden="true">&times;</span></button>
		        <h4 class="inline-block modal-title" id="myModalLabel">Editing Power Plant</h4>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Name</label>
						<input type="text" class="form-control" id="name-input" th:field="*{name}"/>
					</div>
				</div>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Year</label>
						<input type="text" class="form-control" id="year-input" th:field="*{year}"/>
					</div>
				</div>
			</div>
<!-- 			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Fuel Type</label>
						<input type="text" class="form-control" id="fuel-input" th:field="*{fuelType}"/>
					</div>
				</div>
			</div> -->
			
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Fuel Type</label>
					  	<select class="form-control" id="fuel-input" th:field="*{fuelType}">
							<option th:each="fuelType : ${fuelTypes}"
									th:value="${fuelType}" 
									th:text="${fuelType}">
							</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Country</label>
						<input type="text" class="form-control" id="country-input" th:field="*{country}"/>
					</div>
				</div>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>City</label>
						<input type="text" class="form-control" id="city-input" th:field="*{city}"/>
					</div>
				</div>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Latitude</label>
						<input type="text" class="form-control" id="latitude-input" th:field="*{latitude}"/>
					</div>
				</div>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Longitude</label>
						<input type="text" class="form-control" id="longitude-input" th:field="*{longitude}"/>
					</div>
				</div>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Capacity (MW)</label>
						<input type="text" class="form-control" id="capacity-input" th:field="*{capacity}"/>
					</div>
				</div>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Capacity Factor (%)</label>
						<input type="text" class="form-control" id="factor-input" th:field="*{capacityFactor}"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
		    	<h4 class="inline-block no-margin confirmationMessage"></h4>
		    	<div class="pull-right">
		    		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		            <button type="button" class="savePlantConfirm btn btn-success">Save changes</button>
		        </div>
	        </div>
		</div>
	</div>
	
</form>
	
<script>
	$(".savePlantConfirm").click(function(){
		var url = $(this).parents("form").attr("action");
		var data = $(this).parents("form");
		
		$(this).html("Confirm").removeClass("btn-success ").addClass("btn-danger savePlantChanges");
		$(".confirmationMessage").html("Are you sure you wish to change this power plant?");
		
		$(".savePlantChanges").click(function(){
			$.ajax({
				url: url,
				type: "post",
				data: data.serialize(),
				success : function(response){
					if (response.redirect) {
			    		window.location.reload();
			    	}else{		
			    		$(".replaceable").html(response);
			    	}
			    },error: function(){
			    }
			});
		});
	});
</script>