<form th:action="@{/changePassword}" th:object="${passwordForm}" method="post">
	
	<input type="hidden" th:field="*{accountId}"/>
	
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" disabled="disabled"><span data-dismiss="modal" aria-hidden="true">&times;</span></button>
		        <h4 class="inline-block modal-title" id="myModalLabel">Changing Password</h4>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Old Password</label>
						<input type="password" class="form-control" id="old-password-input" th:field="*{oldPassword}"/>
					</div>
				</div>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>New Password</label>
						<input type="password" class="form-control" id="new-password-input" th:field="*{newPassword}"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
		    	<h4 class="inline-block no-margin confirmationMessage"></h4>
		    	<div class="pull-right">
		    		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		            <button type="button" class="changePasswordConfirm btn btn-success">Save changes</button>
		        </div>
	        </div>
		</div>
	</div>
	
</form>

<script>
	$(".changePasswordConfirm").click(function(){
		var url = $(this).parents("form").attr("action");
		var data = $(this).parents("form");
		
		$(this).html("Confirm").removeClass("btn-success ").addClass("btn-success savePassword");
		$(".confirmationMessage").html("Are you sure you wish to change the password?");
		
		$(".savePassword").click(function(){
			$.ajax({
				url: url,
				type: "post",
				data: data.serialize(),
				success : function(response){
					if (response.redirect) {
			    		window.location.reload();
			    	}else{		
			    		$(".replaceable").html(response);
			    	}
			    },error: function(){
			    }
			});
		});
	});
</script>