<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<link rel="icon" href="resources/images/logo.png"/>
	<link href="../../../resources/css/errors.css" rel="stylesheet" media="screen" th:href="@{/resources/css/errors.css}" />
</head>
<body>
<div th:replace="fragments/header">Header</div>
<form method="post" th:action="@{/manageAccount}" th:object="${accountForm}">
<input type="hidden" th:value="accountId" th:field="*{accountId}"/>

	<div class="container">
		<div class="jumbotron" style="background-color:#FFFFFF">
			<h2 class="text-center" style="padding-top:40px;padding-bottom:30px;">My Account</h2>
			<div class="col-sm-offset-1 col-sm-4 text-right" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
				<span>Email</span>
			</div>
			<div class="col-sm-3 text-center">
		  		<input type="text" th:errorclass="input-form-error" class="form-control" id="email-input" th:field="*{email}"/>
				<span class="help-block" style="color:red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Empty email</span>
				<br></br>
			</div>
			<div class="col-sm-offset-1 col-sm-4 text-right" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
				<span>First Name</span>
			</div>
			<div class="col-sm-3 text-center">
		  		<input type="text" th:errorclass="input-form-error" class="form-control" id="fname-input" th:field="*{firstName}"/>
				<span class="help-block" style="color:red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Empty first name</span>
				<br></br>
			</div>
			<div class="col-sm-offset-1 col-sm-4 text-right" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
				<span>Last Name</span>
			</div>
			<div class="col-sm-3 text-center">
		  		<input type="text" th:errorclass="input-form-error" class="form-control" id="lname-input" th:field="*{lastName}"/>
				<span class="help-block" style="color:red;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Empty last name</span>
				<br></br>
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<a class="btn btn-block btn-danger deleteAccountBtn" th:id="${account.id}" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</a>
			</div>
			<div class="col-sm-2">
				<a class="btn btn-block btn-info changePasswordBtn" th:id="${account.id}" data-toggle="modal" data-target="#changePasswordModal">Change Password</a>
			</div>
			<div class="col-sm-2">
				<input type="submit" value="Update" class="btn btn-block btn-success create-button"/>
			</div>
		</div>
	</div>
</form>

	<div id="deleteAccountModal" class="deleteAccountModal modal fade" style="margin-top:120px;" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModal">
		<div class="replaceable">
		</div>
	</div>

	<div id="changePasswordModal" class="changePasswordModal modal fade" style="margin-top:120px;" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal">
		<div class="replaceable">
		</div>
	</div>

	<script>
		$(".changePasswordBtn").click(function(){
			var accountId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "changePassword",
			 	data: {id : accountId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
	</script>
	
	<script>
		$(".deleteAccountBtn").click(function(){
			var accountId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "deleteAccount",
			 	data: {id : accountId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
	</script>
	
</body>
</html>