<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/contact.css" rel="stylesheet" media="screen" th:href="@{/resources/css/contact.css}"/>
	<link rel="icon" href="resources/images/logo.png"/>
</head>
<body>
<div th:replace="fragments/header">Header</div>
  <div class="container">
      <div class="text-center">
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                <form method="post" th:action="@{/contact}" th:object="${contactForm}">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Contact us!</h3>
                            		<p>Please fill in the form below to send us a message:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-envelope"></i>
                        		</div>
                            </div>
                            <div class="form-bottom contact-form">
                            <div class="form-group">
                              <label class="sr-only" for="contact-name">Name</label>
                              <input type="text" name="name" placeholder="Name..." class="contact-name form-control" id="contact-name" th:field="*{name}"/>
                            </div>
                            		<div class="form-group">
			                    		<label class="sr-only" for="contact-email">Email</label>
			                        	<input type="text" name="email" placeholder="Email..." class="contact-email form-control" id="contact-email" th:field="*{email}"/>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="contact-subject">Subject</label>
			                        	<input type="text" name="subject" placeholder="Subject..." class="contact-subject form-control" id="contact-subject" th:field="*{subject}"/>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="contact-message">Message</label>
			                        	<textarea name="message" placeholder="Message..." class="contact-message form-control" id="contact-message" th:field="*{message}"></textarea>
			                        </div>
			                        <button type="submit" class="btn">Send message</button>
		                    </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
      </div>
  </div>
</body>
</html>
