<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

	<style type="text/css">
	div#map_container{
		margin-top:15px;
		width:83%;
		height:620px;
	}
	</style>
	
</head>
<body onload="loadMap()">
<div th:replace="fragments/header">Header</div>
<form method="post" th:action="@{/}" th:object="${arrayForm}">
<input type="hidden" id="jsonStringArray" name="jsonStringArray" th:value="jsonStringArray" th:field="*{jsonStringArray}"/>	
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <br></br>
	<div class="col-sm-2">
		<select class="form-control" id="year-input" th:field="*{year}">
			<option class="text-center" th:each="year : ${years}"
					  					th:value="${year}" 
					  					th:text="${year}">
			</option>
		</select>
	</div>
	<div class="col-sm-2">
		<input type="submit" value="Refresh Map" class="btn btn-block btn-info create-button"/>
	</div>
    
    <div class="col-sm-2">
		<a class="btn btn-success" href="/addPowerPlant" th:href="@{/addPowerPlant}">Add New Power Plant</a>
	</div>
	<div class="col-sm-2">
		<a class="btn btn-warning"  href="/myPowerPlants" th:href="@{/myPowerPlants}">View All Power Plants</a>
	</div>
</div>

	<div class="col-sm-offset-1 col-sm-10" align="center" id="map_container"></div>
	
	<div id="viewPowerPlantModal" class="viewPowerPlantModal modal fade" tabindex="-1" role="dialog" aria-labelledby="viewPowerPlantModal">
		<div class="replaceable">
		</div>
	</div>
	
	<script>	
		$(".plantInfoBtn").click(function(){
			var plantId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "viewPowerPlant",
			 	data: {id : plantId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
	</script>
	
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
  function loadMap() {
    var latlng = new google.maps.LatLng(44.3795, 20.2639);
    var myOptions = {
      zoom: 4,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_container"),myOptions);

    var contentString = '<div id="content">'+
    '<div id="siteNotice">'+
    '</div>'+
    '<h3 id="firstHeading" class="firstHeading">Lazarevac Power Plant</h3>'+
    '<div id="bodyContent">'+
    '<p>This is an example for Lazarevac</p>' +
    '<span class="btn-group">' +
	'<a class="btn btn-info marker-buttons" href="/myPowerPlants" th:href="@{/myPowerPlants}"><i class="fa fa-pencil"></i></a>'+
	'</span>'+
	'<span class="btn-group">' +
	'<a class="btn btn-success marker-buttons" href="/myPowerPlants" th:href="@{/myPowerPlants}">View Results</a>'+
	'</span>'+
	'<span class="btn-group">' +
	'<a class="btn btn-danger marker-buttons" href="/myPowerPlants" th:href="@{/myPowerPlants}"><i class="fa fa-trash-o danger"></i></a>'+
	'</span>'+
    '</div>'+
    '</div>';
    
    var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
    
    var wind = {
    	    url: "resources/images/wind.png",
   	};
    var coal = {
    	    url: "resources/images/coal.png",
   	};
    var biomass = {
    	    url: "resources/images/biomass.png",
   	};
    var gas = {
    	    url: "resources/images/gas.png",
   	};
    var hydro = {
    	    url: "resources/images/hydro.png",
   	};
    var solar = {
    	    url: "resources/images/solar.png",
   	};
    
/*      var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      icon: image,
      title:"Click to see more"
    });
     marker.addListener('click', function() {
	        infowindow.open(map, marker);
	      }); */
		
		var jsonString = /*[[${jsonStringArray}]]*/ "{\"a\":\"... ";
		var json = JSON.parse(jsonString);
		var image = coal;
		var title = "";
		
    	for (var i = 0, length = json.length; i < length; i++) {
    		  var data = json[i],
    		    latLng = new google.maps.LatLng(data.lat, data.lng);
    		  
    		  var title = data.name;
			
    		  if(data.type == "Coal"){
    			  image = coal;
    		  }
    		  if(data.type == "Natural Gas"){
    			  image = gas;
    		  }
    		  if(data.type == "Wind"){
    			  image = wind;
    		  }
    		  if(data.type == "Solar"){
    			  image = solar;
    		  }
    		  if(data.type == "Hydro"){
    			  image = hydro;
    		  }
    		  if(data.type == "Biomass"){
    			  image = biomass;
    		  }
    		  
    		  // Creating a marker and putting it on the map
    		  var marker = new google.maps.Marker({
    		    position: latLng,
    		    map: map,
    		    icon: image,
    		    title: title
    		  });
    		  google.maps.event.addListener(marker, 'click', function () {
    	            infowindow.setContent('<h4>' + this.title + '</h4>');
    	            infowindow.open(map, this);
    	        });
    		}
  }
/*]]>*/
</script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWSnUTD5EMTBsFolIr5CH2fv596dPlB74&amp;callback=loadMap"></script>
</form>
</body>
</html>